.post-body .pub{
    grid-template-columns:1fr;
}
.post-body .pub .link-grid-container p{
    line-height:1.7rem;
}
.post-body .pub .link-grid-container a{
    height: auto;
    width: auto;
    top: auto;
    left: auto;
    position: unset;
}
.post-body .pub .link-grid-container .link-grid-image{
    border-radius: 0;
}
.pub-icons{
    float: right;
}
.pub-icons .pub-icon:not(:first-of-type){
    /* do not add margin for the first icon */
    margin-left: 3px;
}
.post-body .pub .link-grid-container{
    box-shadow: 0.5rem 0.5rem 0.5rem rgb(0 0 0 / 50%);
}
.post-body .pub .link-grid-container:hover{
    animation: none;
}
.pub .pub-badges .badge .pub-count{
    font-weight: 700;
}
.pub .pub-badges .badge .pub-count .pub-count-label{
    font-weight: 400;
}
.pub .pub-badges .badge:not(:empty):not(:last-of-type)::after{
    content: "|";
    margin-left: 3px;
    margin-right: 3px;
}