.post-body .pub{
    grid-template-columns:1fr;
}
.post-body .pub .link-grid-container p{
    line-height:1.7rem;
}
.post-body .pub .link-grid-container a{
    height: auto;
    width: auto;
    top: auto;
    left: auto;
    position: unset;
}
.post-body .pub .link-grid-container .link-grid-image{
    border-radius: 0;
}
.pub-icon{
    float: right;
}
.pub-icon i{
    margin-left: 3px;
}
.post-body .pub .link-grid-container{
    box-shadow: 0.5rem 0.5rem 0.5rem rgb(0 0 0 / 50%);
}
.post-body .pub .link-grid-container:hover{
    animation: none;
}
.pub .badge{
    display: inline-block;
    height: 20px;
    margin-right: 3px;
}
.pub .badge, .pub .badge a{
    vertical-align: top;
}
